# RocketBoots config file
# -----------------------

# Can players disable RocketBoots for themselves? (/rocketboots off|on)
# This is useful if you have a survival/PvP server where players wear boots
# for protection, and not just RocketBoots
playersCanDisable: true

# With this enabled, RocketBoots will stop the server from kicking you
# for flying when flight is disabled on the server.
#
# This is very hacky, and *the server will flood your console with warnings*
# like "[WARNING] Player was kicked for floating too long" as RocketBoots
# prevents each kick. This is unavoidable, but it's the only way to let you fly
# with "allow-flight=false". Also, while preventing this flood of kicks,
# flying will become laggy and slow for everyone with the gold and chainmail boots
#
# If you are sure you want to enable this hack (and realise that it'll make the boots
# less smooth), set this to true ;)
preventFlightKick: false

boots:
    chainmail:
        # How many lightning strikes should the chainmail boots strike with when you land?
        # More lightning strikes => more damage, more noise
        # Set this to zero to disable lightning strikes
        # Default 5, max 20
        numLightningStrikes: 5

        # Use real lightning, or just the effect when you land
        realLightning: true

    leather:
        # How fast should animals/players/mobs be launched into the air with
        #   leather boots?
        # Default 20. Minimum 10, max 50
        launchSpeed: 20
    
    iron:
        # How fast should animals/players/mob be launched *upwards* with iron boots?
        #   (this doesn't affect their speed away from you, just how high they'll go)
        # Default 10. Minimum 1, max 50
        verticalSpeed: 10

    diamond:
        # How fast should you travel upwards with diamond boots?
        #   (this doesn't affect your speed in the direction you're facing, just your
        #      vertical speed)
        # Default 60. Minimum 10, max 100
        verticalSpeed: 60

        # How fast should you fly in the direction you're facing with diamond boots?
        #    (this doesn't affect your vertical speed)
        # Default 50. Minimum 10, max 100
        speedMultiplier: 50